* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: saddlebrown;
}

/*navigation and logo*/

.topnav li {
    display: inline;
    float: right;
    padding: 25px;
    color:bisque
}

li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'IBM Plex Serif', sans-serif;
    text-transform: uppercase;
}

a:visited {
    text-decoration: none;
    color: bisque
}

#logo {
    float: left;
    padding: 20px;
    margin: auto;
    color: bisque;
    font-family: 'Source Serif 4', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 5px;
    text-transform: uppercase;
}

.active{
    text-decoration: underline;
    
}

.topnav a:hover {
    color: saddlebrown;
    background-color: bisque;
    border-radius: 7px;
}

/*About Section*/

#about {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#about-content h2 {
    text-align: center;
    text-decoration: underline;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 50px;
    color: bisque;
    letter-spacing: 2px;
    ;

}

#about-content p {
    text-align: center;
    padding: 10px, 25px, 10px, 25px;
    color:bisque;
    font-weight: lighter;
    font-family: 'IBM Plex Serif', sans-serif;
    margin: 35px;
}

/*Price List*/
#price-list {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin:auto
    
}

#price-content h2 {
    text-align: center;
    text-decoration: underline;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 25px;
    color: bisque;
    letter-spacing: 2px;
}

#styles li {

    text-align: center;
    text-decoration: none;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: bisque;
    letter-spacing: 2px;
    list-style-type: none;
    font-weight: lighter;
}

/*Reviews*/

#reviews {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin:auto;
}

#review-content h2{
    text-align: center;
    text-decoration: underline;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 25px;
    color: bisque;
    letter-spacing: 2px;
}

#review-content p{
    text-align: center;
    font-style: oblique;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: bisque;
    letter-spacing: 2px;
    font-weight: lighter;
}

#review-content span {
    font-weight: normal;
}

/*Footer (social, contact, opening hours)*/

.footer {
    position: absolute;
    bottom: 0;
    
}

#opening {
    float:left;
    margin: 30px;
    border: 2px solid bisque;
    padding: 10px;
}

#contact {
    float:right;
    margin: 30px;
    border: 2px solid bisque;
    padding: 10px;
}

#contact-details {
    text-align: left;
    list-style-type: none;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 2px;
}

#opening-times {
    text-align: left;
    list-style-type: none;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 2px;
}

.bold {
    font-weight: normal;
}

#opening-head, #contact-head {
    font-weight: bold;
    color: bisque;
    letter-spacing: 2px;
    font-family: 'IBM Plex Serif', sans-serif;
}

/*footer contact form*/

#form {
    text-align: center;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 2px;
    border: 5px solid bisque;
    padding: 10px;
}

.form-box {
    width:40%;
    border: solid 2px;
    color: bisque;
    border-radius: 5px;
}

#comment-box {
    height: 50px;
    width: 40%;
    border: solid 2px;
    color: bisque;
    border-radius: 5px;
}

.buttons {
    height:20px;
    width:80px;
    border: solid 2px;
    border-radius: 25px;
    color: saddlebrown;
}

.buttons:hover {
    color: rgba(148, 99, 7, 0.669);
}

.buttons:focus {
    color: brown;
}

