* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    size: 100px;
    height: 90px;
    background-image: url("../images/pexels-eva-elijas-7599543.jpg");
    background-size: 100%;
    color: bisque;
}

body {
    background-color: rgb(78, 49, 29);
}

/*navigation and logo*/

.topnav li {
    display: inline;
    float: right;
    padding: 25px;
    color:bisque
}

li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'IBM Plex Serif', sans-serif;
    text-transform: uppercase;
}

a:visited {
    text-decoration: none;
    color: bisque
}

#logo {
    float: left;
    padding: 20px;
    margin: auto;
    color: bisque;
    font-family: 'Source Serif 4', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 5px;
    text-transform: uppercase;
}

.active{
    text-decoration: underline;
    
}

.topnav a:hover {
    color: saddlebrown;
    background-color: bisque;
    border-radius: 7px;
}

/*Salon Picture*/

#salon-pic {
    height:400px;
    background-image: url("../images/pexels-iiii-iiii-54566.jpg");
    background-size: cover;
    background-position: center;
    color: bisque;
}

#salon-location {
    height: 200px;
    width: 200px;
    padding:50px 30px 20px 30px;

    text-align: center;
    background-color: rgb(154, 59, 59, .6);
    position: absolute;
    border-radius: 25%;

    font-size: larger;
    font-family: 'Source Serif 4', sans-serif;
    letter-spacing: 2px;

    bottom: 120px;
    left: 110px;
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    overflow: hidden;
    color: bisque;
    overflow: visible;
}

#about-content h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Source Serif 4', sans-serif;
    padding-top: 50px;
    color: bisque;
    letter-spacing: 2px;

}

#about-content p {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    color:bisque;
    font-weight: lighter;
    font-family: 'IBM Plex Serif', sans-serif;
    margin: 35px;
}

/*Image bar*/

#image-bar {
    height: 250px;
    color: bisque;
    background-image: url("../images/pexels-anete-lusina-6331027.jpg");
    background-size: 100%;
    background-position: center;
    size:100%;
}

/*Price List*/
#price-list {
    height: auto;
    width: 50%;
    overflow: hidden;
    position: relative;
    margin:auto;
}

#price-content h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Source Serif 4', sans-serif;
    padding-top: 25px;
    color: bisque;
    letter-spacing: 2px;
}

#styles li {

    text-align: center;
    text-decoration: none;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: bisque;
    letter-spacing: 2px;
    list-style-type: none;
    font-weight: lighter;
}

/*Sand image bar*/

#sand-image-bar {
    height: auto;
    background-image: url("../images/pexels-mathias-reding-6184533.jpg");
    background-size: 100%;
    color: bisque;

}

#sand-image-bar h1 {
    font-size: 70px;
    text-align: center;
    padding: 70px;
    font-family: 'Source Serif 4', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: lighter;

}
/*Reviews*/

#reviews {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin:auto;
}

#review-content h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Source Serif 4', sans-serif;
    padding: 20px;
    color: bisque;
    letter-spacing: 2px;
}

#review-content p{
    text-align: center;
    font-style: oblique;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: bisque;
    letter-spacing: 2px;
    font-weight: lighter;
}

#review-content span {
    font-weight: normal;
}

/*Footer (social, contact, opening hours)*/

footer {
    margin-top: 50px;
    height: auto;
    background-image: url("../images/pexels-eva-elijas-7599543.jpg");
}


#opening {
    float:left;
    margin: 30px;
    padding: 10px;
}

#contact {
    float:right;
    margin: 30px;
    padding: 10px;
}

#contact-details {
    text-align: left;
    list-style-type: none;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 2px;
}

#opening-times {
    text-align: left;
    list-style-type: none;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 2px;
}

.bold {
    font-weight: normal;
}

#opening-head, #contact-head, #form-head{
    font-weight: bold;
    color: bisque;
    letter-spacing: 2px;
    font-family: 'Source Serif 4', sans-serif;
    padding: 5px;
    text-decoration: underline;
}

/*footer contact form*/

#form {
    text-align: center;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: normal;
    color: bisque;
    letter-spacing: 2px;
    padding: 10px;
}

.form-box {
    width:40%;
    color: rgb(156, 69, 7);
    
}

#comment-box {
    height: 50px;
    width: 40%;
    color: rgb(156, 69, 7);

}

.buttons {
    height:20px;
    width:80px;
    color: saddlebrown;
}

.buttons:hover {
    color: rgba(148, 99, 7, 0.669);
}

.buttons:focus {
    color: brown;
}

/*social media*/

#social {
    font-size: xx-large;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    height: 70px;
}

#social a {
    text-decoration: none;
    color: bisque;
}

#facebook, #instagram, #tiktok {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

/*FAQ Section*/

#faq {
    text-align: center;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: lighter;
    color: bisque;
    letter-spacing: 1px;
}

#faq ul li {
    list-style-type: none;
}

.li-large {
    text-align: center;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: bold;
    color: bisque;
    letter-spacing: 2px;
    font-size: large;
}

#faq-head {
    text-align: center;
    font-size: x-large;
    padding: 20px;
    text-decoration: underline;
    font-family: 'Source Serif 4', sans-serif;
    letter-spacing: 2px;
}

.faq-content {
    padding-left: 150px;
    padding-right: 150px;
}

/*Gallery*/

/*media queries for screens smaller than 1000*/

@media screen and (max-width:1200px) {
    .topnav {
        float: left;
        clear: left;
        position: relative;
        bottom: 35px;
    }

    header {
        height: 150px;
        left: 0;
    }

    #opening{
        clear: both;
        width: 100%;
        text-align: center;
        margin: 0;
        padding:10px 0;

    }

    #opening-times {
        text-align: center;
    }

    #contact {
        clear: both;
        width: 100%;
        text-align: center;
        padding:10px 0;
        margin: 0%;
    
    }

    
    #contact-details {
        text-align: center;
    }

    form {
        padding:10px 0;
        width: 100%;
    }

    #reviews {
        text-align: center;
        font-size: small;
        padding: 10px 0;
    }

    #styles li {
        font-size: smaller;
    }

    #about-content p {
        padding: 10px;
    }

    #faq-head {
        text-align: center;
        padding-top: 50px;
    }

    .faq-content {
        padding: 20px;
    }
}

/*media query for screens smaller than 800px*/

@media screen and (max-width:800px) {

    #styles li {
        font-size: x-small;
    }

    #facebook, #instagram, #tiktok {
        padding: 0 15px;
        text-align: center;
    }

    .topnav li, .topnav a{
        font-size: 15px;
        padding: 40px 5px;
    }
    #salon-pic {
        background-size: cover;
        background-position: center;
    }

    #sand-image-bar h1 {
        font-size: medium;
    }

    .faq-content li {
        font-size: small;
    }

    .li-large {
        font-size: large;
    }
}