* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    height: 90px;
    color: rgb(49, 40, 34);
}

body {
    background-color: rgb(232, 219, 210);
}

/*navigation and logo*/

.topnav li {
    display: inline;
    float: right;
    padding: 25px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'IBM Plex Serif', sans-serif;
    text-transform: uppercase;
    color:rgb(49, 40, 34)
}

a:visited {
    text-decoration: none;
    color: rgb(49, 40, 34)
}

#logo {
    float: left;
    padding: 20px;
    margin: auto;
    color:rgb(49, 40, 34);
    font-family: 'Source Serif 4', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 5px;
    text-transform: uppercase;
}

.active{
    text-decoration: underline;
    
}

.topnav a:hover {
    color: rgb(232, 219, 210);
    background-color: rgb(49, 40, 34);
    border-radius: 7px;
}

/*Salon Picture*/

#salon-outer {
    height: 500px;
    width: 100%;
    position: relative;
}

#salon-pic {
    height:500px;
    background-image: url("../images/header.jpeg");
    background-size: cover;
    color: rgb(232, 219, 210);
}

#salon-location {
    height: 200px;
    width: 200px;
    padding:50px 30px 20px 30px;

    text-align: center;
    background-color: rgb(154, 59, 59, .6);
    position: absolute;
    border-radius: 25%;

    font-size: larger;
    font-family: 'Source Serif 4', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(232, 219, 210);

    bottom: 100px;
    right: 110px;
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    overflow: hidden;
    color: rgb(49, 40, 34);
    overflow: visible;
}

#about-content h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Source Serif 4', sans-serif;
    padding-top: 50px;
    color: rgb(49, 40, 34);
    letter-spacing: 2px;

}

#about-content p {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 1px;
    color:rgb(49, 40, 34);
    font-weight: normal;
    font-family: 'IBM Plex Serif', sans-serif;
    margin: 35px;
}

/*Image bar*/

.column {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    
}

.column > img {
    width: 100%;
    display: block;
}

/*Price List*/
#price-list {
    height: auto;
    width: 50%;
    overflow: hidden;
    position: relative;
    margin:auto;
    padding: 25px;
}

#price-content h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Source Serif 4', sans-serif;
    padding: 25px 0 25px 0;
    color: rgb(49, 40, 34);
    letter-spacing: 2px;
}

#styles li {

    text-align: center;
    text-decoration: none;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(49, 40, 34);
    letter-spacing: 2px;
    list-style-type: none;
    font-weight: normal;
}

/*meala experience image bar*/

#meala-experience {
    height: auto;
    background-image: url("../images/footersalon2.jpeg");
    background-size: 100%;
    background-position: center;
    color: rgb(241, 212, 192);
}

#meala-experience h3 {
    font-size: 70px;
    text-align: center;
    padding: 70px;
    font-family: 'Source Serif 4', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: normal;
    text-shadow: 2px 2px rgb(45, 33, 33);

}
/*Reviews*/

#reviews {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin:auto;
}

#review-content h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Source Serif 4', sans-serif;
    padding: 20px;
    color: rgb(49, 40, 34);
    letter-spacing: 2px;
}

#review-content p{
    text-align: center;
    font-style: oblique;
    font-family: 'IBM Plex Serif', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(49, 40, 34);
    letter-spacing: 2px;
}

#review-content span {
    font-weight: normal;
}

/*Footer (social, contact, opening hours)*/

footer {
    margin-top: 50px;
    height: auto;
    background-image: url("../images/salon1.jpeg");
    background-size: cover;
    background-position: top;
    text-shadow: 1px 1px rgb(45, 33, 33);
}


#opening {
    float:left;
    margin: 30px;
    padding: 10px;
}

#contact {
    float:right;
    margin: 30px;
    padding: 10px;
}

#contact-details {
    text-align: left;
    list-style-type: none;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: bold;
    color: rgb(241, 212, 192);
    letter-spacing: 2px;
}

#opening-times {
    text-align: left;
    list-style-type: none;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: bold;
    color: rgb(241, 212, 192);
    letter-spacing: 2px;
}

.bold {
    font-weight: bolder;
}

#opening-head, #contact-head, #form-head{
    font-weight: bold;
    color: rgb(241, 212, 192);
    letter-spacing: 2px;
    font-family: 'Source Serif 4', sans-serif;
    padding: 5px;
    text-decoration: underline;
}

/*footer contact form*/

#form {
    text-align: center;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: bold;
    color: rgb(241, 212, 192);
    letter-spacing: 2px;
    padding: 10px;
}

.form-box {
    width:40%;
    color: rgb(156, 69, 7);
    
}

#comments {
    height: 50px;
    width: 40%;
    color: rgb(156, 69, 7);
}

.buttons {
    height:20px;
    width:80px;
    color: saddlebrown;
    text-decoration: none;
    background-color: white;
}

.buttons:hover {
    color: rgba(148, 99, 7, 0.669);
}

.buttons:focus {
    color: brown;
}

/*social media*/

#social {
    font-size: xx-large;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    height: 70px;
}

#social a {
    text-decoration: none;
    color: rgb(241, 212, 192);
}

#facebook, #instagram, #tiktok {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

/*FAQ Section*/

#faq {
    text-align: center;
    font-family: 'IBM Plex Serif', sans-serif;
    font-weight: normal;
    color: rgb(49, 40, 34);
    letter-spacing: 1px;
}

#faq ul li {
    list-style-type: none;
}

.li-large {
    text-align: center;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: bold;
    color: rgb(49, 40, 34);
    letter-spacing: 2px;
    font-size: large;
}

#faq-head {
    text-align: center;
    font-size: x-large;
    padding: 20px;
    text-decoration: underline;
    font-family: 'Source Serif 4', sans-serif;
    letter-spacing: 2px;
}

.faq-content {
    padding-left: 150px;
    padding-right: 150px;
}

/*Gallery*/

 #photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
 }

 #photos > img {
     width: 100%;
 }

/*media queries for screens smaller than 1000*/

@media screen and (max-width:1200px) {
    .topnav {
        float: left;
        clear: left;
        position: relative;
        bottom: 35px;
    }



    header {
        height: 150px;
        left: 0;
    }

    #opening{
        clear: both;
        width: 100%;
        text-align: center;
        margin: 0;
        padding:10px 0;

    }

    #opening-times {
        text-align: center;
    }

    #contact {
        clear: both;
        width: 100%;
        text-align: center;
        padding:10px 0;
        margin: 0%;
    
    }

    
    #contact-details {
        text-align: center;
    }

    form {
        padding:10px 0;
        width: 100%;
    }

    #reviews {
        text-align: center;
        font-size: small;
        padding: 10px 0;
    }

    #styles li {
        font-size: smaller;
    }

    #about-content p {
        padding: 10px;
    }

    #faq-head {
        text-align: center;
        padding-top: 50px;
    }

    .faq-content {
        padding: 20px;
    }
}

/*media query for screens smaller than 800px*/

@media screen and (max-width:800px) {

    #styles li {
        font-size: x-small;
    }

    #facebook, #instagram, #tiktok {
        padding: 0 15px;
        text-align: center;
    }

    .topnav li, .topnav a{
        font-size: 15px;
        padding: 40px 5px;
    }
    #salon-pic {
        background-size: cover;
        background-position: left;
        filter: blur(3px);
    }

    #salon-location {
        left: 10px;
        bottom: 10px;
    }

    #meala-experience h3 {
        font-size: large;
    }

    #reviews p{
        font-size: small;
        padding: 10px;
    }

    .faq-content li {
        font-size: small;
    }

    .li-large {
        font-size: large;
    }
/*Gallery*/
 #photos {
     column-count: 2;
 }
    
}

@media screen and (max-width:350px) {
    .topnav li, .topnav a{
        font-size: x-small;
        padding: 40px 2px;
    }
}
